pyodbc
fastapi
uvicorn
gunicorn
langchain
langchain-community
langchain-openai
langchain-text-splitters
langchain-core
faiss-cpu
openai
python-dotenv
pandas
scikit-learn
pypdf
pyodbc
azure-identity
requests